:root {
    --main-color: #101830;
    --second-color: #e8e8e8;
    --third-color: #505052;
    --font-base: 14px;
    --font-sm: 12px;
    --font-xs: 10px;
    --font-2xs: 8px;
    --font-3xs: 6px;
}